*{
    margin: 0%;
    padding: 0%;
}
.main{
    background-color: black;
    height: 87vh;
    color: rgb(250, 235, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
}
.head{
 background-color: rgb(224, 198, 7);
text-align: center;
 padding: 10px;
 position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.content li{
    padding-bottom: 50px;
    list-style: none;
    color: azure;
}
.flexdirection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.allborder{
    border: 2px solid black;
    border-radius: 5px;
    height: auto;
    width: auto;
    margin: 5px;
}
.allborder img{
    height: 190px;
    width: 190px;
    padding: 5px;
}
.display img{
    border: 2px solid black;
    border-radius:5px ;
    height: 300px;
    width: 300px;
}
.display{
    
    border:2px solid black ;
    border-radius: 4px;
}